h1 {
	margin: 30px auto;
	text-align: center;
}

main {
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div {
	width: 100px;
	height: 100px;
	margin: 0;
}

div.red {
	background-color: red;
}

div.black {
	background-color: black;
}