<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{title}}</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
		<h1>Checkers anyone?</h1>
		<main style="max-width: {{ width * 100}}px;">
			{% for x in range(height): %}
				{% for y in range(width): %}
					{% if (x+y)%2 == 0 %}
					<div style="background-color: {{color1}};"></div>
					{% else %}
					<div style="background-color: {{color2}};"></div>
					{% endif %}
				{% endfor %}
			{% endfor %}
		</main>
	</body>
</html>